@charset "UTF-8";

*{margin:0 0; padding:0 0;}

#container{
	width:1024px;
	height:768px;
	margin:0 auto;
	position:relative;top:100px;
	cursor: url(../cursor/Aero_normal.cur), auto; /* 페이지 내 기본 커서 모양 */
}

.rq{color:#FF5E00;} /* 꼭 적어야 하는거 (required) */

h1{text-align:center; padding:50px 0; color: #648181; text-shadow:2px 2px 1px #9db3b3;}
h2{text-align:center; padding:32px 0;}
/* 헤더부분 링크 커서 모양 */
a:link{cursor: pointer;}
a:visited{cursor: pointer;}
a:hover{cursor: pointer;}
a:active{cursor: pointer;}

button:hover{cursor: url(../cursor/Aero_normal.cur), auto;} /* button 커서 모양 */
select:hover{cursor: url(../cursor/Aero_normal.cur), auto;} /* select 커서 모양 */
input:hover{
	cursor: url(../cursor/Aero_normal.cur), auto;
	border-bottom:2px solid gray;
	} /* input 커서 모양 + 테두리 */

/* input 애들 중에 type="text"인 애들은 기본 커서 모양으로 */
#nameBox:hover{cursor: auto;}
#yearBox:hover{cursor: auto;}
.Authentication:hover{cursor: auto;}

header{
	width:100%;
	height:18.6%;
}

section{
	width:450px;
	height:600px;
	margin:0 auto;
	padding:0% 5%;
	border:2px #648181 solid;
	
}
section .inputTrue{color:green; font-size:12px;} /* 입력 결과 텍스트 */
section .inputFalse{color:red; font-size:12px;}

section form{
	width:65%; height:50%; 
	margin:0 auto;
	position:relative; top:-20px;
	}

section input{
	border:0px;
	border-bottom:2px solid lightgray;
}
section p{font-weight:bold;}
section button{
	padding:10px;
	margin:0 auto;
	border:black 1.5px solid;
	border-radius:5px;
}
#nameBox{width:199.6px;}
#yearBox{width:45.8px;}
#gender{font-size:12px; margin:5% 0;}

.Authentication{width:164.4px;}
.Authentication_button{
	display:inline;
	padding:0.5px;
	border:0.5px solid black;
	border-radius:4px;
	background: #EAEFF9;
}
.Authentication_button:hover{background: #abc0e7;}

#lastBtn{
	width:199.67px;
	position:relative;
	left:20px;
	top:-20px;
	cursor: pointer;
	background: #648181;
	color: white;
	font-weight:bold;
	text-shadow:0 0 1px black;
	}

footer{
	width:100%;
	height:16%;
}

footer ul{
	list-style: none;
	margin: 0 auto;
}
footer li{
	padding:0 1%;
	float:left;
	position:relative;
	top:30px;
	left:33.5%;
	font-size:13px;
	border-right:1px solid lightgray;
}
li:last-child{border-right:none;} /* 마지막 리스트의 오른쪽 구분선 제거 */
