@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
	background-color:#bdc9a6;
}
#container{
	width:1100px;
	height:968px;
	margin:0px auto;
	padding:0px;	
}
#header{
	width:100%;
	height:90px;
	margin:0px;
  padding:0px;
}

#section{
	width:100%;
	height:758px;
	float:left;
	margin:auto;
}
#footer{
	width:100%;
	height:120px;
	clear:both;
	margin:0px;
    padding:0px;
}
h1{ font-family: 'Noto Sans KR', sans-serif;
	text-align:center;
}
#hm{
	color:#648181;
	text-decoration:none;	
}
img{
	width:360px;
	height:200px;
	display:block;
	margin-left:auto;
	margin-right:auto;
 }
 fieldset{
    width:350px;
	height:350px;
	border-style:dashed;
	border-radius:4px;
	border-width:4px;
	border-color:#EAEFF9;
    margin:auto;
    padding:0px;
    text-align:center;
    background:#FCFCFC;
}
legend{
	font-family: 'Josefin Sans', sans-serif;
   background-color:#EAEFF9;
   color: #648181;
   padding: 5px 10px;
   font-weight:bold;
}
#idchk{
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing:7px;
	color:#648181;
}
#name{
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing:7px;
	color:#648181;
}
#mail{
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing:1px;
	color:#648181;
}
#nt,#mt,#it{
     padding:7px 0px ;	
     background:#EAEFF9;
     border-style:none;
}
#btn{
	
	width:250px;
	height:50px;
    background:#EAEFF9;
    color:#648181;
    font-weight:bold;
    border-style:none;
    font-size:20px;
    letter-spacing:6px;
    margin:20px auto;
   
}
p{
	font-family: 'Noto Sans KR', sans-serif;
	text-align:center;
	color:#648181;
}
